<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <body>
        <h1>HTML Practice</h1>
        <h2>List</h2>
        <ul>
            <li>List item</li>
            <li>List item</li>
        </ul>
        <h2>Table</h2>
        <table>
            <tr>
                <td>Table item</td>
                <td>Table item</td>
            </tr>
            <tr>
                <td>Table item</td>
                <td>Table item</td>
            </tr>
        </table>
           
    </body>
</html>
